@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.dashboard{
  display: flex;
  justify-content: space-between;
}


.side__menu{
  background-color: #fff;
  height: 100vh;
  width: 20%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.side__menu ul li{
  list-style: none;
  margin-left: -32px;
  margin: 15px 0;
}
.side__menu ul li a{
  text-decoration: none;
  display: block;
  margin-left: -32px;
  padding: 12px 0 12px 20px;
}
.side__menu ul li a:hover{
  background-color: #537FE7;
  color: #fff;
}
.submenu{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}
li:hover ul.submenu{
  position: relative;
  opacity: 1;
  visibility: visible;
}







.main_container{
  background-color: #CFE2FF;
  width: 80%;
}